<%- include("partials/header") -%>
<div class="form">
<h1><%= form[0] %></h1>
<h3><%= form[1] %></h3><br/>
<h3><%= form[2] %></h3>
</div>
<form action="mailto:bakery.marlie@gmail.com" method="post" enctype="text/plain">
<div>
  <label><%= form[3] %>:</label>
  <input type="text" name="Name" value=""><br>
</div>
<div>
  <label><%= form[4] %>:</label>
  <input type="email" name="Email" value=""><br>
</div>
<div>
  <label><%= form[5] %>:</label>
  <input type="tel" name="Phone" value=""><br>
</div>
<div>
  <label><%= form[6] %>:</label>
  <input type="date" name="Date" value=""><br>
</div>
<div>
  <label><%= form[10] %>:</label><br>
  <% for (var i=0; i<dessert.length; i++) { %>
    <input type="checkbox" name= <%= dessert[i] %> value=<%= dessert[i] %>><label><%= dessert[i] %></label><input type="number" name="number" value=""><br>
    <% } %>
</div>
<div>
  <label><%= form[8] %>:</label><br>
  <% for (var i=0; i<pies.length; i++) { %>
    <input type="checkbox" name="<%= pies[i] %>" value= "<%= pies[i] %>" ><label><%= pies[i] %></label><input type="number" name="numberLG" value=""><br>
  <% } %>

</div>
<div>
  <label><%= form[9] %>:</label><br>
  <% for (var i=0; i<pies.length; i++) { %>
    <input type="checkbox" name="<%= pies[i] %>" value="<%= pies[i] %>" ><label><%= pies[i] %></label><input type="number" name="numberSM" value=""><br>
  <% } %>
</div>
<div>
  <label><%= form[7] %>:</label><br>
  <textarea name="Message" rows="10" cols="30"></textarea><br>
  <input type="submit" name="">
</div>

</form>

<%- include("partials/footer") -%>
